body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 70%;
    height: 56px;
    font-size: 1.4rem;
    background: #ff7f50;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

button:active{
    transform: scale(0.8);
}

body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 70%;
    height: 56px;
    font-size: 1.4rem;
    background: #ff7f50;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

button:active{
    transform: scale(0.8);
}

#condition-message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #ff7f50;
}
